*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Arial", sans-serif;
    color: #2b2f33;
}

.notesApp{
    display: flex;
    gap: 20px;
    justify-content:flex-start;
    padding: 20px;    
    flex-wrap: wrap;
    width: 100%;
}

.addNote,
.noteWindow,
.yourNote {
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 20px); 
    box-sizing: border-box;
}

.navbar{
    height: 65px;
    width: 100%;
    background-color: #5f68a0;
    color: #ffffff;
}
.navbar h1{
    margin:auto;
}
.blurBackground {
    filter: blur(5px);
}

.addNote{
    margin: 10px;
    padding: 2px;
    height: 120px;
    background-color: #aec6cf;
    color: Coral (#FF6B6B);
    border-radius: 5px;
    min-width: 200px;
    max-width: fit-content;
    max-width: fit-content;
}
.addNote h3{
    margin: 15px;
    text-decoration: underline;
    font-size: 25px;
    font-weight: 500;
}

.addNote .btn{
    color: white;
    font-weight: bold;
    margin-left: 95px;
    margin-bottom: 10px;
    background-color: #394c56;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.addNote .btn:hover{
    border: 1px solid white;
    color: red;
}

.hideUI{
    display: none;
}

.noteWindow{
    width: 300px;
    padding: 11px;
    border-radius: 3px;
    background-color:#cecece;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 0%;
    transform: translate(-50%,40%);
    box-shadow:0px 0px;
}
.noteWindow .addButton{
    background-color: rgba(40, 40, 40, 0.998);
    border-color: rgba(11, 11, 16, 0.493);
    border-radius: 10px;
    width: 95%;
    margin:8px 0px 5px 5px;
}
.noteWindow .addButton:hover{
    box-shadow: 2px 2px 5px black;
    background-color: rgba(0, 0, 255, 0.523);
}
.closeBtn{
    color: red;
}
.noteWindow h4{
    text-decoration: underline;
    margin-left: 20%;
    margin-bottom: 10px;
}

.noteWindow input{
    width: 90px;
    height: 12px;
    padding: 11px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 3px;
    background-color: #e0f7fa;

}
.noteWindow h6{
    margin-bottom: 5px
    
}
.alert{
    margin: 10px 0px ;
}
.styleOption{
    min-width: 50px;
    height: 30px;
    width:50px;
}

textarea{
    padding: 5px;
    width: 94%;
    font-size: 18px;
    margin: 5px; 
    background-color: #e0f7fa;
}


.yourNote{
    max-width:fit-content;
    max-height: fit-content;
    min-height:120px;;
    min-width: 200px;
    background-color: #78c4be;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    word-wrap:break-word;
}
.yourNote button{
    background:transparent;
    border: 1.6px solid red;
    color: red;
    padding: 0px 2px 0px 2px;
    margin-left: 60%;  
    margin-bottom: 5px; 
}
.yourNote button:hover{
    border: 1.6px solid black;
    color: black;
}

footer {
    text-align: center; 
    padding: 10px; 
    background-color: #5a457fa5; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
/*---------------------------------------------------------------*/
@media only screen and (max-width :600px) {
    .navbar h1{
        font-size: 25px;
    }

    .addNote{
       margin: auto; 
    }

    .addNote .btn{
        margin-left: 95px;
    }

    .noteWindow{
            width: 80%; 
            max-width: 100%; 
            margin: 10% auto; 
    }
    .noteWindow h4{
        font-size: 30px;
        text-decoration: underline;
        margin-left: 15%;
        margin-bottom: 10px;
     
    }

    .yourNote{
        margin: auto;
    }
}

